body {
    font-family: 'Nunito';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #CACCCE;
  }
  
  header {
    background-color: #0077B5;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #86888A;
    padding: 1rem 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  section {
    padding: 2rem;
    margin: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    text-align: center;
    background-color: #0077B5;
    color: #fff;
    padding: 1rem 0;
  }

  .profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .profile-picture img {
    width: auto; /* Adjust the size as needed */
    height: 200px;
    border-radius: 50%; /* Makes the image round */
    border: 3px solid #86888A; /* Border color for the frame */
  }

  .resume embed {
    display: block;
    margin: 0 auto;
  }
  